@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css');
@import url('https://cdn.quilljs.com/1.0.0/quill.snow.css');

//Resetar Navegador
*:not(font){
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 100%;
    vertical-align: baseline;
}
html,body{
    color: var(--text);
    background-color: var(--main);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
img{ max-width: 100%; }
a{
    color: inherit;
    text-decoration: none;
}


.ql-toolbar.ql-snow {
    border: none;
    border-bottom: solid 1px #84a5a5;
}
.ql-container.ql-snow {
    border: none;
    background-color: white;
    background-image: linear-gradient(180deg, rgb(213 225 225) 0px, rgba(255,255,255,0) 6px);
    position: static;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    cursor: text;
}
.ql-editor *:last-child {
    height: 100%;
}

.ql-editor.ql-blank::before {
    position: static;
    display: table;
    margin-bottom: -1.5em;
}



#title-selec>span>input {
    padding: 0;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    width: 210px;
    text-align: center;
}
#panel-c main .p-datepicker-group-container {
    background-color: white;
    border-radius: 10px;
    border: solid 1px #84a5a5;
    filter: drop-shadow(4px 4px 3px #84a5a5);
    padding: 10px;
    margin-left: -30px;
}
.p-datepicker table td > span.p-highlight {
    background: #006a738a;
    color: white;
    font-weight: bold;
}
.date-note{
    &>span{
        position: relative;
        z-index: 2;
    }
    &:before {
        content: '';
        display: table;
        width: 100%;
        height: 100%;
        background-color: rgba(39, 171, 176, 0.26);
        position: absolute;
        top: 0;
        left: 0;
    }
}


.swal2-icon.swal2-error.swal2-icon-show {
    margin-top: 15px;
    margin-bottom: -23px;
}



@media (max-width: 600px) {
    .ql-container.ql-snow { min-height: auto; height: auto; }
    .ql-editor{height: auto;}
    .ql-editor *:last-child {height: auto;}
}